PG_DATABASE=gsw_mail
PG_USER=gsw_mail
PG_PASSWORD=change-me-postgres
PG_PORT=5432

HOSTNAME=mx1.guidedstepswellness.com
TZ=America/Detroit
STALWART_PUBLIC_URL=https://mx1.guidedstepswellness.com
STALWART_RECOVERY_ADMIN=admin:change-me-stalwart-admin